@import './libs/FontSizeMixin.scss';
@import './libs/FontWeightMixin.scss';
@import './libs/ContentMixin.scss';
@include each-font-size(30);
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    font-size: 12px;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.block {
    width: 120px;
    height: 120px;
    background-color: #fff;
}

.global-loading{
    background: none;
}